In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Question 1

What's the version of Pandas that you installed?

In [13]:
pd.__version__

'2.1.0'

#### Getting the data 

For this homework, we'll use the California Housing Prices dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv).

In [14]:
housing = pd.read_csv("housing.csv")

In [15]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Question 2

How many columns are in the dataset?

In [16]:
len(housing.columns)

10

### Question 3

Which columns in the dataset have missing values?

In [38]:
null_check = housing.columns[housing.isnull().any()]
null_check = [column for column in null_check]

In [37]:
null_check

['total_bedrooms']

### Question 4

How many unique values does the `ocean_proximity` column have?

In [42]:
unique_count = housing['ocean_proximity'].nunique()
unique_count

5

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

In [49]:
housing[housing['ocean_proximity']=='NEAR BAY'].median_house_value.mean().round(0)

259212.0

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

In [51]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [58]:
mean_bedrooms = housing['total_bedrooms'].mean().round(3)

In [62]:
mean_bedrooms = housing['total_bedrooms'].mean().round(3)
housing_clean = housing.copy()
housing_clean['total_bedrooms'] = housing['total_bedrooms'].fillna(mean_bedrooms)
mean_bedrooms_clean = housing_clean['total_bedrooms'].mean().round(3)
print(f"Average total_bedrooms with nulls = {mean_bedrooms}, average of total_bedrooms without nulls = {mean_bedrooms_clean}")

Average total_bedrooms with nulls = 537.871, average of total_bedrooms without nulls = 537.871

In [60]:
if mean_bedrooms == mean_bedrooms_clean:
    print("No, the average of `total_bedrooms` has not changed after removing nulls")
else:
    print("Yes, the average of `total_bedrooms` has changed after removing nulls")

No, the average of `total_bedrooms` has not changed after removing nulls

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

In [65]:
housing['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [68]:
island_only=housing[housing['ocean_proximity']=='ISLAND'][['housing_median_age','total_rooms','total_bedrooms']]

In [69]:
X = island_only.values

In [75]:
XTX = X.T @ X

In [78]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [79]:
inverse_XTX = np.linalg.inv(XTX)

In [80]:
inverse_XTX

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [81]:
y = [950, 1300, 800, 1000, 1300]

In [83]:
w = (inverse_XTX @ X.T) @ y

In [87]:
w[-1].round(4)

5.6992